 /* Основной цвет #212121 */
 /* Вторичный цвет #757575 */
 /* Акцент #2196F3 */
 /* Логотип #000000 */
 /* Белый #FFFFFF */
 /*Копирайт rgba(255, 255, 255, 0.4); */
 /*Фон "Наша команда" F5F4FA */
 /* Фон "Футтер" 2F303A */

 :root{
     --primary-text-color: #212121;
     --secondary-text-color: #757575;
     --accent-color: #2196F3;
 }

 body{
     background-color: #fff;
     color:var(--primary-text-color);
     font-family: Roboto, sans-serif;
 }
 
 ul{
    list-style: none
 }
 /* Логотип */
 .logo{
     color:#000000;
     font-family: Raleway, sans-serif;        
font-weight: bold;
font-size: 26px;
line-height: 1.19;

    
 }
  .logo-item{
     color:var(--accent-color) ;
 }
 /* Navigation */
 .navi a{
     color:var(--primary-text-color) ;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
 }

 .navi a:hover,
 .navi a:focus{
     color:var(--accent-color) ;
 }

 .navi-contact a{
     color:var(--secondary-text-color) ;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
 }
 .navi-contact a:hover,
 .navi-contact a:focus{
     color:var(--accent-color) 
 }
 .navi a.current{
     color: var(--accent-color);
 }


 /* Hero */
 
 /* Наши преимущества */
 .section-title{
   color:var(--primary-text-color);  
 }
 .advantage{
   color: var(--secondary-text-color);
 }

 /* Чем мы занимаемся */
 .section-title{
    color:var(--primary-text-color);
 }
 /* Наша команда */
 .section-team{
     background-color:#F5F4FA;
 }
 .section-title{
    color:var(--primary-text-color);
 }  
 .profession{
     color: var(--secondary-text-color);
 }
 .soc-net a{
     color: var(--secondary-text-color);
 }
 .soc-net a:hover,
 .soc-net a:focus{
     color:var(--accent-color) ;
 }
 /* Постоянные клиенты */
 .clients{
     color: var(--primary-text-color);
 }
/* Футер */
.footer{
    background-color: #2F303A;
}
.address{
    color:#FFFFFF;
}
.mail{
    color: rgba(255, 255, 255, 0.6);
}
.mail:hover, .mail:focus{
    color:var( --accent-color) ;
}
.telefon{
    color:rgba(255, 255, 255, 0.6) ;
}
.telefon:hover, .telefon:focus{
    color: var(--accent-color);
}
.join{
    color:#FFFFFF ;
}
.subscribe{
    color:#FFFFFF ;
}
.copyright{
    color:rgba(255, 255, 255, 0.4) ;
}
.logotip{
    color:#FFFFFF ;
    font-family: Raleway, sans-serif;
}

/* Button */
.button{
    color: var(--primary-text-color);
    background-color:#FFFFFF ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}
.button.primary{
    background-color:var(--accent-color) ;
    color:#FFFFFF ;
}
.button.secondary{
    color:var(--accent-color) ;
    background-color:#FFFFFF ;
}

/* Портфолио */

/* Основной цвет #212121 */
/* Второстепенный цвет #757575 */
/* Фоновый для навигации #F5F4FA */
/* Accent --accent-color */
.navigation .link{
    color:#212121 ;  
    background-color:#F5F4FA ;  
}
.navigation .link:hover, .link:focus{
    color:var(--accent-color)  ;
}